## Tables Demo

## Exploring the survival on the titanic

Data from <a href="https://www.kaggle.com/c/titanic"> https://www.kaggle.com/c/titanic</a>

In [1]:
from datascience import *
import numpy as np

In [2]:
#reading a dataset from a csv
train = Table.read_table("https://raw.githubusercontent.com/oikobill/Kaggle/master/Titanic/data/train.csv")
train.show(5) #to show only the 5 first rows of the dataset

In [17]:
#what are the dimensions of my data?
print("Number of people: ", train.num_rows)
print("Number of columns/features: ", train.num_columns)

Number of people:  891
Number of columns/features:  11

In [3]:
#selecting columns from a datascience table
passenger_age = train.column("Age")
passenger_age #note that the data type returned is a numpy array

array([ 22.  ,  38.  ,  26.  ,  35.  ,  35.  ,    nan,  54.  ,   2.  ,
        27.  ,  14.  ,   4.  ,  58.  ,  20.  ,  39.  ,  14.  ,  55.  ,
         2.  ,    nan,  31.  ,    nan,  35.  ,  34.  ,  15.  ,  28.  ,
         8.  ,  38.  ,    nan,  19.  ,    nan,    nan,  40.  ,    nan,
          nan,  66.  ,  28.  ,  42.  ,    nan,  21.  ,  18.  ,  14.  ,
        40.  ,  27.  ,    nan,   3.  ,  19.  ,    nan,    nan,    nan,
          nan,  18.  ,   7.  ,  21.  ,  49.  ,  29.  ,  65.  ,    nan,
        21.  ,  28.5 ,   5.  ,  11.  ,  22.  ,  38.  ,  45.  ,   4.  ,
          nan,    nan,  29.  ,  19.  ,  17.  ,  26.  ,  32.  ,  16.  ,
        21.  ,  26.  ,  32.  ,  25.  ,    nan,    nan,   0.83,  30.  ,
        22.  ,  29.  ,    nan,  28.  ,  17.  ,  33.  ,  16.  ,    nan,
        23.  ,  24.  ,  29.  ,  20.  ,  46.  ,  26.  ,  59.  ,    nan,
        71.  ,  23.  ,  34.  ,  34.  ,  28.  ,    nan,  21.  ,  33.  ,
        37.  ,  28.  ,  21.  ,    nan,  38.  ,    nan,  47.  ,  14.5 ,
        22.  ,  20.  ,  17.  ,  21.  ,  70.5 ,  29.  ,  24.  ,   2.  ,
        21.  ,    nan,  32.5 ,  32.5 ,  54.  ,  12.  ,    nan,  24.  ,
          nan,  45.  ,  33.  ,  20.  ,  47.  ,  29.  ,  25.  ,  23.  ,
        19.  ,  37.  ,  16.  ,  24.  ,    nan,  22.  ,  24.  ,  19.  ,
        18.  ,  19.  ,  27.  ,   9.  ,  36.5 ,  42.  ,  51.  ,  22.  ,
        55.5 ,  40.5 ,    nan,  51.  ,  16.  ,  30.  ,    nan,    nan,
        44.  ,  40.  ,  26.  ,  17.  ,   1.  ,   9.  ,    nan,  45.  ,
          nan,  28.  ,  61.  ,   4.  ,   1.  ,  21.  ,  56.  ,  18.  ,
          nan,  50.  ,  30.  ,  36.  ,    nan,    nan,   9.  ,   1.  ,
         4.  ,    nan,    nan,  45.  ,  40.  ,  36.  ,  32.  ,  19.  ,
        19.  ,   3.  ,  44.  ,  58.  ,    nan,  42.  ,    nan,  24.  ,
        28.  ,    nan,  34.  ,  45.5 ,  18.  ,   2.  ,  32.  ,  26.  ,
        16.  ,  40.  ,  24.  ,  35.  ,  22.  ,  30.  ,    nan,  31.  ,
        27.  ,  42.  ,  32.  ,  30.  ,  16.  ,  27.  ,  51.  ,    nan,
        38.  ,  22.  ,  19.  ,  20.5 ,  18.  ,    nan,  35.  ,  29.  ,
        59.  ,   5.  ,  24.  ,    nan,  44.  ,   8.  ,  19.  ,  33.  ,
          nan,    nan,  29.  ,  22.  ,  30.  ,  44.  ,  25.  ,  24.  ,
        37.  ,  54.  ,    nan,  29.  ,  62.  ,  30.  ,  41.  ,  29.  ,
          nan,  30.  ,  35.  ,  50.  ,    nan,   3.  ,  52.  ,  40.  ,
          nan,  36.  ,  16.  ,  25.  ,  58.  ,  35.  ,    nan,  25.  ,
        41.  ,  37.  ,    nan,  63.  ,  45.  ,    nan,   7.  ,  35.  ,
        65.  ,  28.  ,  16.  ,  19.  ,    nan,  33.  ,  30.  ,  22.  ,
        42.  ,  22.  ,  26.  ,  19.  ,  36.  ,  24.  ,  24.  ,    nan,
        23.5 ,   2.  ,    nan,  50.  ,    nan,    nan,  19.  ,    nan,
          nan,   0.92,    nan,  17.  ,  30.  ,  30.  ,  24.  ,  18.  ,
        26.  ,  28.  ,  43.  ,  26.  ,  24.  ,  54.  ,  31.  ,  40.  ,
        22.  ,  27.  ,  30.  ,  22.  ,    nan,  36.  ,  61.  ,  36.  ,
        31.  ,  16.  ,    nan,  45.5 ,  38.  ,  16.  ,    nan,    nan,
        29.  ,  41.  ,  45.  ,  45.  ,   2.  ,  24.  ,  28.  ,  25.  ,
        36.  ,  24.  ,  40.  ,    nan,   3.  ,  42.  ,  23.  ,    nan,
        15.  ,  25.  ,    nan,  28.  ,  22.  ,  38.  ,    nan,    nan,
        40.  ,  29.  ,  45.  ,  35.  ,    nan,  30.  ,  60.  ,    nan,
          nan,  24.  ,  25.  ,  18.  ,  19.  ,  22.  ,   3.  ,    nan,
        22.  ,  27.  ,  20.  ,  19.  ,  42.  ,   1.  ,  32.  ,  35.  ,
          nan,  18.  ,   1.  ,  36.  ,    nan,  17.  ,  36.  ,  21.  ,
        28.  ,  23.  ,  24.  ,  22.  ,  31.  ,  46.  ,  23.  ,  28.  ,
        39.  ,  26.  ,  21.  ,  28.  ,  20.  ,  34.  ,  51.  ,   3.  ,
        21.  ,    nan,    nan,    nan,  33.  ,    nan,  44.  ,    nan,
        34.  ,  18.  ,  30.  ,  10.  ,    nan,  21.  ,  29.  ,  28.  ,
        18.  ,    nan,  28.  ,  19.  ,    nan,  32.  ,  28.  ,    nan,
        42.  ,  17.  ,  50.  ,  14.  ,  21.  ,  24.  ,  64.  ,  31.  ,
        45.  ,  20.  ,  25.  ,  28.  ,    nan,   4.  ,  13.  ,  34.  ,
         5.  ,  52.  ,  36.  ,    nan,  30.  ,  49.  ,    nan,  29.  ,
        65.  ,    nan,  50.  ,    nan,  48.  ,  34.  ,  47.  ,  48.  ,
          nan,  38.  ,    nan,  56.  ,    nan,   0.75,    nan,  38.  ,
        33.  ,  23.  ,  22.  ,    nan,  34.  ,  29.  ,  22.  ,   2.  ,
         9.  ,    nan,  50.  ,  63.  ,  25.  ,    nan,  35.  ,  58.  ,
        30.  ,   9.  ,    nan,  21.  ,  55.  ,  71.  ,  21.  ,    nan,
        54.  ,    nan,  25.  ,  24.  ,  17.  ,  21.  ,    nan,  37.  ,
        16.  ,  18.  ,  33.  ,    nan,  28.  ,  26.  ,  29.  ,    nan,
        36.  ,  54.  ,  24.  ,  47.  ,  34.  ,    nan,  36.  ,  32.  ,
        30.  ,  22.  ,    nan,  44.  ,    nan,  40.5 ,  50.  ,    nan,
        39.  ,  23.  ,   2.  ,    nan,  17.  ,    nan,  30.  ,   7.  ,
        45.  ,  30.  ,    nan,  22.  ,  36.  ,   9.  ,  11.  ,  32.  ,
        50.  ,  64.  ,  19.  ,    nan,  33.  ,   8.  ,  17.  ,  27.  ,
          nan,  22.  ,  22.  ,  62.  ,  48.  ,    nan,  39.  ,  36.  ,
          nan,  40.  ,  28.  ,    nan,    nan,  24.  ,  19.  ,  29.  ,
          nan,  32.  ,  62.  ,  53.  ,  36.  ,    nan,  16.  ,  19.  ,
        34.  ,  39.  ,    nan,  32.  ,  25.  ,  39.  ,  54.  ,  36.  ,
          nan,  18.  ,  47.  ,  60.  ,  22.  ,    nan,  35.  ,  52.  ,
        47.  ,    nan,  37.  ,  36.  ,    nan,  49.  ,    nan,  49.  ,
        24.  ,    nan,    nan,  44.  ,  35.  ,  36.  ,  30.  ,  27.  ,
        22.  ,  40.  ,  39.  ,    nan,    nan,    nan,  35.  ,  24.  ,
        34.  ,  26.  ,   4.  ,  26.  ,  27.  ,  42.  ,  20.  ,  21.  ,
        21.  ,  61.  ,  57.  ,  21.  ,  26.  ,    nan,  80.  ,  51.  ,
        32.  ,    nan,   9.  ,  28.  ,  32.  ,  31.  ,  41.  ,    nan,
        20.  ,  24.  ,   2.  ,    nan,   0.75,  48.  ,  19.  ,  56.  ,
          nan,  23.  ,    nan,  18.  ,  21.  ,    nan,  18.  ,  24.  ,
          nan,  32.  ,  23.  ,  58.  ,  50.  ,  40.  ,  47.  ,  36.  ,
        20.  ,  32.  ,  25.  ,    nan,  43.  ,    nan,  40.  ,  31.  ,
        70.  ,  31.  ,    nan,  18.  ,  24.5 ,  18.  ,  43.  ,  36.  ,
          nan,  27.  ,  20.  ,  14.  ,  60.  ,  25.  ,  14.  ,  19.  ,
        18.  ,  15.  ,  31.  ,   4.  ,    nan,  25.  ,  60.  ,  52.  ,
        44.  ,    nan,  49.  ,  42.  ,  18.  ,  35.  ,  18.  ,  25.  ,
        26.  ,  39.  ,  45.  ,  42.  ,  22.  ,    nan,  24.  ,    nan,
        48.  ,  29.  ,  52.  ,  19.  ,  38.  ,  27.  ,    nan,  33.  ,
         6.  ,  17.  ,  34.  ,  50.  ,  27.  ,  20.  ,  30.  ,    nan,
        25.  ,  25.  ,  29.  ,  11.  ,    nan,  23.  ,  23.  ,  28.5 ,
        48.  ,  35.  ,    nan,    nan,    nan,  36.  ,  21.  ,  24.  ,
        31.  ,  70.  ,  16.  ,  30.  ,  19.  ,  31.  ,   4.  ,   6.  ,
        33.  ,  23.  ,  48.  ,   0.67,  28.  ,  18.  ,  34.  ,  33.  ,
          nan,  41.  ,  20.  ,  36.  ,  16.  ,  51.  ,    nan,  30.5 ,
          nan,  32.  ,  24.  ,  48.  ,  57.  ,    nan,  54.  ,  18.  ,
          nan,   5.  ,    nan,  43.  ,  13.  ,  17.  ,  29.  ,    nan,
        25.  ,  25.  ,  18.  ,   8.  ,   1.  ,  46.  ,    nan,  16.  ,
          nan,    nan,  25.  ,  39.  ,  49.  ,  31.  ,  30.  ,  30.  ,
        34.  ,  31.  ,  11.  ,   0.42,  27.  ,  31.  ,  39.  ,  18.  ,
        39.  ,  33.  ,  26.  ,  39.  ,  35.  ,   6.  ,  30.5 ,    nan,
        23.  ,  31.  ,  43.  ,  10.  ,  52.  ,  27.  ,  38.  ,  27.  ,
         2.  ,    nan,    nan,   1.  ,    nan,  62.  ,  15.  ,   0.83,
          nan,  23.  ,  18.  ,  39.  ,  21.  ,    nan,  32.  ,    nan,
        20.  ,  16.  ,  30.  ,  34.5 ,  17.  ,  42.  ,    nan,  35.  ,
        28.  ,    nan,   4.  ,  74.  ,   9.  ,  16.  ,  44.  ,  18.  ,
        45.  ,  51.  ,  24.  ,    nan,  41.  ,  21.  ,  48.  ,    nan,
        24.  ,  42.  ,  27.  ,  31.  ,    nan,   4.  ,  26.  ,  47.  ,
        33.  ,  47.  ,  28.  ,  15.  ,  20.  ,  19.  ,    nan,  56.  ,
        25.  ,  33.  ,  22.  ,  28.  ,  25.  ,  39.  ,  27.  ,  19.  ,
          nan,  26.  ,  32.  ])

In [4]:
#Getting the column names from our table
train.labels

('PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked')

Some of the label names are not very indicative of the content

**SibSp:** Number of siblings/spouses aboard

**Parch:** Number of parents/children aboard

**Embarked: ** Port of embarkation

In [5]:
#always rename your column names to something that is more human readable
train.relabel("Embarked", "port")
train.relabel("PassengerId", "id")
train.relabel("Survived", "survived") #I like every column name to be in lowercase
train.relabel("Pclass", "passenger_class")
train.relabel("Name", "name")
train.relabel("Sex", "sex")
train.relabel("Fare", "fare")
train.relabel("Cabin", "cabin")
train.relabel("Ticket", "ticket")
train.relabel("Age", "age")

id   | survived | passenger_class | name                                                | sex    | age  | SibSp | Parch | ticket           | fare    | cabin | port
1    | 0        | 3               | Braund, Mr. Owen Harris                             | male   | 22   | 1     | 0     | A/5 21171        | 7.25    | nan   | S
2    | 1        | 1               | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female | 38   | 1     | 0     | PC 17599         | 71.2833 | C85   | C
3    | 1        | 3               | Heikkinen, Miss. Laina                              | female | 26   | 0     | 0     | STON/O2. 3101282 | 7.925   | nan   | S
4    | 1        | 1               | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female | 35   | 1     | 0     | 113803           | 53.1    | C123  | S
5    | 0        | 3               | Allen, Mr. William Henry                            | male   | 35   | 0     | 0     | 373450           | 8.05    | nan   | S
6    | 0        | 3               | Moran, Mr. James                                    | male   | nan  | 0     | 0     | 330877           | 8.4583  | nan   | Q
7    | 0        | 1               | McCarthy, Mr. Timothy J                             | male   | 54   | 0     | 0     | 17463            | 51.8625 | E46   | S
8    | 0        | 3               | Palsson, Master. Gosta Leonard                      | male   | 2    | 3     | 1     | 349909           | 21.075  | nan   | S
9    | 1        | 3               | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female | 27   | 0     | 2     | 347742           | 11.1333 | nan   | S
10   | 1        | 2               | Nasser, Mrs. Nicholas (Adele Achem)                 | female | 14   | 1     | 0     | 237736           | 30.0708 | nan   | C
... (881 rows omitted)

In [6]:
#I don't really like the columns Parch and SibSp. They are not really that informative and I can't come up with 
# a short enouh column label for each of them. But it seems that both of them have to do with family size
siblings_spouses = train.column("SibSp")
children_parents = train.column("Parch")
train = train.with_column("family_size", siblings_spouses+children_parents)
train

id   | survived | passenger_class | name                                                | sex    | age  | SibSp | Parch | ticket           | fare    | cabin | port | family_size
1    | 0        | 3               | Braund, Mr. Owen Harris                             | male   | 22   | 1     | 0     | A/5 21171        | 7.25    | nan   | S    | 1
2    | 1        | 1               | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female | 38   | 1     | 0     | PC 17599         | 71.2833 | C85   | C    | 1
3    | 1        | 3               | Heikkinen, Miss. Laina                              | female | 26   | 0     | 0     | STON/O2. 3101282 | 7.925   | nan   | S    | 0
4    | 1        | 1               | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female | 35   | 1     | 0     | 113803           | 53.1    | C123  | S    | 1
5    | 0        | 3               | Allen, Mr. William Henry                            | male   | 35   | 0     | 0     | 373450           | 8.05    | nan   | S    | 0
6    | 0        | 3               | Moran, Mr. James                                    | male   | nan  | 0     | 0     | 330877           | 8.4583  | nan   | Q    | 0
7    | 0        | 1               | McCarthy, Mr. Timothy J                             | male   | 54   | 0     | 0     | 17463            | 51.8625 | E46   | S    | 0
8    | 0        | 3               | Palsson, Master. Gosta Leonard                      | male   | 2    | 3     | 1     | 349909           | 21.075  | nan   | S    | 4
9    | 1        | 3               | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female | 27   | 0     | 2     | 347742           | 11.1333 | nan   | S    | 2
10   | 1        | 2               | Nasser, Mrs. Nicholas (Adele Achem)                 | female | 14   | 1     | 0     | 237736           | 30.0708 | nan   | C    | 1
... (881 rows omitted)

In [7]:
#but now I don't really need the SibSp and Parch columns any more so I can drop them from the table
train = train.drop(["Parch", "SibSp"])
train

id   | survived | passenger_class | name                                                | sex    | age  | ticket           | fare    | cabin | port | family_size
1    | 0        | 3               | Braund, Mr. Owen Harris                             | male   | 22   | A/5 21171        | 7.25    | nan   | S    | 1
2    | 1        | 1               | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female | 38   | PC 17599         | 71.2833 | C85   | C    | 1
3    | 1        | 3               | Heikkinen, Miss. Laina                              | female | 26   | STON/O2. 3101282 | 7.925   | nan   | S    | 0
4    | 1        | 1               | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female | 35   | 113803           | 53.1    | C123  | S    | 1
5    | 0        | 3               | Allen, Mr. William Henry                            | male   | 35   | 373450           | 8.05    | nan   | S    | 0
6    | 0        | 3               | Moran, Mr. James                                    | male   | nan  | 330877           | 8.4583  | nan   | Q    | 0
7    | 0        | 1               | McCarthy, Mr. Timothy J                             | male   | 54   | 17463            | 51.8625 | E46   | S    | 0
8    | 0        | 3               | Palsson, Master. Gosta Leonard                      | male   | 2    | 349909           | 21.075  | nan   | S    | 4
9    | 1        | 3               | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   | female | 27   | 347742           | 11.1333 | nan   | S    | 2
10   | 1        | 2               | Nasser, Mrs. Nicholas (Adele Achem)                 | female | 14   | 237736           | 30.0708 | nan   | C    | 1
... (881 rows omitted)

In [8]:
# How the group function works
train.group("sex", np.array) #instead of np.array pass in any aggregation function you want (default returns count)

sex    | id array                                                     | survived array                                               | passenger_class array                                        | name array                                                   | age array                                                    | ticket array                                                 | fare array                                                   | cabin array                                                  | port array                                                   | family_size array
female | [  2   3   4   9  10  11  12  15  16  19  20  23  25  26 ... | [1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 0 0 1 1 1 0 1 1 1 ... | [1 3 1 3 2 3 1 3 2 3 3 3 3 3 3 1 3 3 3 3 2 2 3 3 3 1 2 2 ... | ['Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
  ... | [ 38.    26.    35.    27.    14.     4.    58.    14.   ... | ['PC 17599' 'STON/O2. 3101282' '113803' '347742' '237736 ... | [  71.2833    7.925    53.1      11.1333   30.0708   16. ... | ['C85' 'nan' 'C123' 'nan' 'nan' 'G6' 'C103' 'nan' 'nan'  ... | ['C' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' ... | [ 1  0  1  2  1  2  0  0  0  1  0  0  4  6  0  1  0  2   ...
male   | [  1   5   6   7   8  13  14  17  18  21  22  24  27  28 ... | [0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 ... | [3 3 3 1 3 3 3 3 2 2 2 1 3 1 3 1 2 1 1 3 3 3 3 3 3 3 3 1 ... | ['Braund, Mr. Owen Harris' 'Allen, Mr. William Henry' 'M ... | [ 22.    35.      nan  54.     2.    20.    39.     2.   ... | ['A/5 21171' '373450' '330877' '17463' '349909' 'A/5. 21 ... | [   7.25      8.05      8.4583   51.8625   21.075     8. ... | ['nan' 'nan' 'nan' 'E46' 'nan' 'nan' 'nan' 'nan' 'nan' ' ... | ['S' 'S' 'Q' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'C' 'S' ... | [ 1  0  0  0  4  0  6  5  0  0  0  0  0  5  0  0  0  1   ...

In [9]:
# Say I want to examine the relationship between survival and passenger class
pclass = train.select(["survived", "passenger_class"]) #select only some columns from the table
pclass

survived | passenger_class
0        | 3
1        | 1
1        | 3
1        | 1
0        | 3
0        | 3
0        | 1
0        | 3
1        | 3
1        | 2
... (881 rows omitted)

In [10]:
pclass.group("passenger_class", np.mean) #hmmm interesting

passenger_class | survived mean
1               | 0.62963
2               | 0.472826
3               | 0.242363

In [11]:
#Make sure that the above code did what I wanted it to do
first_class = pclass.where("passenger_class", 1)
second_class = pclass.where("passenger_class", 2)
third_class = pclass.where("passenger_class", 3)
first_class

survived | passenger_class
1        | 1
1        | 1
0        | 1
1        | 1
1        | 1
0        | 1
0        | 1
1        | 1
0        | 1
0        | 1
... (206 rows omitted)

In [12]:
np.count_nonzero(first_class.column('survived')==1)/len(first_class.column('survived')) #manually find mean survival

0.6296296296296297

In [13]:
train.sort("age") #sorting by a column. Anything interesting you can observe?

id   | survived | passenger_class | name                            | sex    | age  | ticket  | fare    | cabin   | port | family_size
804  | 1        | 3               | Thomas, Master. Assad Alexander | male   | 0.42 | 2625    | 8.5167  | nan     | C    | 1
756  | 1        | 2               | Hamalainen, Master. Viljo       | male   | 0.67 | 250649  | 14.5    | nan     | S    | 2
470  | 1        | 3               | Baclini, Miss. Helene Barbara   | female | 0.75 | 2666    | 19.2583 | nan     | C    | 3
645  | 1        | 3               | Baclini, Miss. Eugenie          | female | 0.75 | 2666    | 19.2583 | nan     | C    | 3
79   | 1        | 2               | Caldwell, Master. Alden Gates   | male   | 0.83 | 248738  | 29      | nan     | S    | 2
832  | 1        | 2               | Richards, Master. George Sibley | male   | 0.83 | 29106   | 18.75   | nan     | S    | 2
306  | 1        | 1               | Allison, Master. Hudson Trevor  | male   | 0.92 | 113781  | 151.55  | C22 C26 | S    | 3
165  | 0        | 3               | Panula, Master. Eino Viljami    | male   | 1    | 3101295 | 39.6875 | nan     | S    | 5
173  | 1        | 3               | Johnson, Miss. Eleanor Ileen    | female | 1    | 347742  | 11.1333 | nan     | S    | 2
184  | 1        | 2               | Becker, Master. Richard F       | male   | 1    | 230136  | 39      | F4      | S    | 3
... (881 rows omitted)

In [14]:
# comparing men and women
men = train.where('sex', "male")
women = train.where('sex', "female")
men

id   | survived | passenger_class | name                           | sex  | age  | ticket    | fare    | cabin | port | family_size
1    | 0        | 3               | Braund, Mr. Owen Harris        | male | 22   | A/5 21171 | 7.25    | nan   | S    | 1
5    | 0        | 3               | Allen, Mr. William Henry       | male | 35   | 373450    | 8.05    | nan   | S    | 0
6    | 0        | 3               | Moran, Mr. James               | male | nan  | 330877    | 8.4583  | nan   | Q    | 0
7    | 0        | 1               | McCarthy, Mr. Timothy J        | male | 54   | 17463     | 51.8625 | E46   | S    | 0
8    | 0        | 3               | Palsson, Master. Gosta Leonard | male | 2    | 349909    | 21.075  | nan   | S    | 4
13   | 0        | 3               | Saundercock, Mr. William Henry | male | 20   | A/5. 2151 | 8.05    | nan   | S    | 0
14   | 0        | 3               | Andersson, Mr. Anders Johan    | male | 39   | 347082    | 31.275  | nan   | S    | 6
17   | 0        | 3               | Rice, Master. Eugene           | male | 2    | 382652    | 29.125  | nan   | Q    | 5
18   | 1        | 2               | Williams, Mr. Charles Eugene   | male | nan  | 244373    | 13      | nan   | S    | 0
21   | 0        | 2               | Fynney, Mr. Joseph J           | male | 35   | 239865    | 26      | nan   | S    | 0
... (567 rows omitted)

In [15]:
#group by two variables? WHAAAAT?
train.groups(make_array("passenger_class", "sex"), np.mean).select(make_array("passenger_class", "sex", "survived mean"))

passenger_class | sex    | survived mean
1               | female | 0.968085
1               | male   | 0.368852
2               | female | 0.921053
2               | male   | 0.157407
3               | female | 0.5
3               | male   | 0.135447

In [16]:
#more advanced tabling - pivpot method
train.pivot('port', 'sex','survived', np.mean)

sex    | C        | Q         | S        | nan
female | 0.876712 | 0.75      | 0.689655 | 1
male   | 0.305263 | 0.0731707 | 0.174603 | 0