In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
from datascience import *
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv("https://raw.githubusercontent.com/adnanhemani/data8-assets/master/merged_election_data.csv").drop("Unnamed: 0", axis=1)
df.head()

,County Name,State,ObamaVotes.12,RomneyVotes.12,votes_dem.16,votes_gop.16,total_votes.16,per_dem.16,per_gop.16,diff.16,...,public_transportation_to_work,working_at_home,occupation_management_business_science_arts,income_less_than_10000,income_10000_to_24999,income_25000_to_49999,income_50000_to_99999,income_100000_to_149999,income_150000_to_199999,income_more_than_200000
0,2baltimore,maryland,201042.0,25501.0,178562.0,22726.0,208980.0,0.854445,0.108747,491.0,...,49262.0,7150.0,98932.0,31068.0,47053.0,63771.0,64532.0,19217.0,19217.0,6272.0
1,2bedford,virginia,1225.0,1527.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,116.0,861.0,383.0,661.0,850.0,585.0,217.0,217.0,9.0
2,2fairfax,virginia,6636.0,4762.0,7363.0,3695.0,11854.0,0.621141,0.311709,1513.0,...,1037.0,541.0,6349.0,176.0,541.0,1057.0,2661.0,2085.0,2085.0,1074.0
3,2franklin,virginia,2830.0,1496.0,2516.0,1421.0,4040.0,0.622772,0.351733,104.0,...,0.0,38.0,945.0,595.0,804.0,884.0,861.0,289.0,289.0,31.0
4,2richmond,virginia,71037.0,19732.0,74640.0,14254.0,94724.0,0.787973,0.150479,2118.0,...,6534.0,3146.0,35339.0,10792.0,18415.0,22262.0,20683.0,5977.0,5977.0,2951.0

In [72]:
df_filtered = df[['votes_dem.16','votes_gop.16', "state_abbr"]]
new_df = df_filtered.groupby('state_abbr').sum()
new_df['code'] = new_df.axes[0]
new_df

            votes_dem.16  votes_gop.16 code
state_abbr
AL              718084.0     1306925.0   AL
AR              378729.0      677904.0   AR
AZ              936250.0     1021154.0   AZ
CA             5931283.0     3184721.0   CA
CO             1212209.0     1137455.0   CO
CT              884432.0      668266.0   CT
DC              260223.0       11553.0   DC
DE              235581.0      185103.0   DE
FL             4485745.0     4605515.0   FL
GA             1837300.0     2068623.0   GA
HI              266827.0      128815.0   HI
IA              650790.0      798923.0   IA
ID              189677.0      407199.0   ID
IL             2977498.0     2118179.0   IL
IN             1031953.0     1556220.0   IN
KS              414788.0      656009.0   KS
KY              628834.0     1202942.0   KY
LA              779535.0     1178004.0   LA
MA             1964768.0     1083069.0   MA
MD             1497951.0      873646.0   MD
ME              354873.0      334838.0   ME
MI             2267373.0     2279210.0   MI
MN             1366676.0     1322891.0   MN
MO             1054889.0     1585753.0   MO
MS              462001.0      678457.0   MS
MT              174521.0      274120.0   MT
NC             2162074.0     2339603.0   NC
ND               93526.0      216133.0   ND
NE              273858.0      485819.0   NE
NH              348126.0      345598.0   NH
NJ             2021756.0     1535513.0   NJ
NM              380724.0      315875.0   NM
NV              537753.0      511319.0   NV
NY             4143874.0     2640570.0   NY
OH             2317001.0     2771984.0   OH
OK              419788.0      947934.0   OK
OR              934631.0      742506.0   OR
PA             2844705.0     2912941.0   PA
RI              249902.0      179421.0   RI
SC              849469.0     1143611.0   SC
SD              117442.0      227701.0   SD
TN              867110.0     1517402.0   TN
TX             3867816.0     4681590.0   TX
UT              237241.0      397004.0   UT
VA             1916845.0     1731156.0   VA
VT              178179.0       95053.0   VT
WA             1523720.0     1043648.0   WA
WI             1382210.0     1409467.0   WI
WV              187457.0      486198.0   WV
WY               55949.0      174248.0   WY

In [73]:
new_df['perc_diff'] = (new_df['votes_dem.16']-new_df['votes_gop.16'])/(new_df['votes_dem.16']+new_df['votes_gop.16'])
new_df.head()

            votes_dem.16  votes_gop.16 code  perc_diff
state_abbr
AL              718084.0     1306925.0   AL  -0.290784
AR              378729.0      677904.0   AR  -0.283140
AZ              936250.0     1021154.0   AZ  -0.043376
CA             5931283.0     3184721.0   CA   0.301290
CO             1212209.0     1137455.0   CO   0.031815

In [74]:
new_df['text'] = new_df['code']+'<br>'+ "Democrats " + new_df['votes_dem.16'].astype('str')+'<br>'+ "Republicans " + new_df['votes_gop.16'].astype('str')

In [76]:
new_df[new_df['code']=='AK']

Empty DataFrame
Columns: [votes_dem.16, votes_gop.16, code, perc_diff, text]
Index: []

In [75]:
for col in new_df.columns:
    new_df[col] = new_df[col].astype(str)

scl = [[-0.5, 'rgb(242,240,247)'],[-0.3, 'rgb(218,218,235)'],[-0.1, 'rgb(188,189,220)'],\
            [0.1, 'rgb(158,154,200)'],[0.3, 'rgb(117,107,177)'],[0.5, 'rgb(84,39,143)']]


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = new_df['code'],
        z = new_df['perc_diff'].astype(float),
        locationmode = 'USA-states',
        text = new_df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Percentage Difference")
        ) ]

layout = dict(
        title = 'My Title',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )